/* 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

*/

:root {
    --main-color: #131921;
    --secondary-color: #232F3E;
}

html {
    font-size: 10px;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Reusable Classes */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1900px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}

.btn {
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
}

.full-round {
    border-radius: 100%;
}

.flex {
    display: flex;
}

.values-badge {
    position: absolute;
    margin: -.1rem 0 0 -.7rem;
    background-color: #ff0000;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
}

.hidden {
    display: none;
}



/* Reusable Classes */




/* NAVIGATION */

/* Top Navigation */
.top__nav {
    width: 100%;
    background-color: var(--secondary-color);
    padding: .5rem 0;
}

.top__nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4rem;
}

.top__nav-link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}


/* Main Navigation */
.main__nav {
    height: 8.5rem;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
}

.main__nav-logo {
    max-width: 36rem;
}

.main__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

/* Search Bar */
.main__nav-search-bar {
    /* margin: 0 20px; */
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: .8rem;
    width: 100%;
}

input[type=text] {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-search {
    background-color: #395B64;
    border-radius: 0 .8rem .8rem 0;
    padding: 0 1.5rem;
    margin-right: -.2rem;
}

.search-icon {
    stroke: #fff;
}

/* Cart and User Account */
.main__nav-cart-account {
    display: flex;
    align-items: center;
    max-width: 38rem;
}

.cart {
    cursor: pointer;
    color: #fff;
}

.main__nav-cart-items {
    background-color: #fff;
    color: #666666;
    position: absolute;
    transform: translate(-93%, 57%);
    width: 35rem;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px 5px #0000002c;
}

.cart-item {
    display: flex;
    gap: 5px;
    padding: 2rem .5rem;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
    transition: all .3s;
}

.cart-item:hover {
    background-color: #f3f3f3;
}

.cart-item-image {
    max-height: 3rem;
}

.cart-item-description {
    font-size: 1.3rem;
    font-weight: 500;
    color: #131921;
}

.cart-item-price {
    font-size: 1.4rem;
    color: #FF6600;
}

.view-cart-btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.main__nav-account {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;
    width: 15rem;
}

.profile-img {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
}

.username {
    font-size: 1.5rem;
    color: #fff;
}

.dropdown-icon {
    width: 2rem;
    height: 2rem;
}


/* HERO SECTION */
.hero-img{
    width: 100%;

}
.hero__section {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero__section-banners {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    margin: 5rem;
}

.partners__images {
    display: flex;
    align-items: center;
    gap: 20px;  
}

.partners-img {
    max-width: 100%;
    max-height: 4.5rem;
}